%ul
  -YAML.load_file(@locale_file.asset.path).each do |k,v|
    %li=k
    -if v.is_a? Hash
      %ul
        -v.each do |kk,vv|
          %li=kk
          -if vv.is_a? Hash
            %ul
            -vv.each do |kkk,vvv|
              %li=kkk
          

    