

%table
  %tr
    %th
      Identificativo
    %th
      =@locale_file.organization.locales
    %th
      =@locale_file.locale
  -@yaml_from.each do |k,v|
    %tr
      %td.key= k
      %td.text= v
      %td.form=text_area_tag "ciao",@yaml_to[k],:width=>"100%"


          

    