.nav      
  =link_to "files","/locale_files",:class=>"button button_nav"
  =link_to "organizations","/organizations",:class=>"button button_nav"
  =link_to "USers","/users",:class=>"button button_nav"
  =link_to "Logout" ,{:action=>"destroy", :controller=>"devise/sessions"}